body {
	font-family: "Inter", sans-serif;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	margin: 0px;
	padding: 0px;
	align-items: stretch;
	overflow-y: hidden;
	height: 100vh;
}

.row {
	display: flex;
	gap: 15px;
	align-items: baseline;
}

.purple-text {
	color: #0111A0;
}

#left-panel {
	background-color: #EBEBF0;
	flex: 1;
	overflow-y: hidden;
}

#pdf-section {
	overflow-x: scroll;
	overflow-y: scroll;
	padding:50px;
	height: 100vh;
	top:0px;
	position: fixed;
	z-index: 1;

}

#left-ui {
	z-index:100;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: row;
	margin-right: 20px;
	position: relative;
}


#left-ui-left-group {
	flex: 1;
	align-items: flex-start
}

#left-ui-right-group {
}

#pdf-canvas {
	direction: ltr;
	filter: drop-shadow(0px 0px 25px #BBBFE3);
	border-radius:5px;
	margin: 0 auto;
	margin-bottom: 100px;
	margin-top: 30px;
}

#right-panel {
	float: left;
	flex: 0 0 400px;
	height: 100%;
	z-index: 100;
	box-shadow: 0px 0px 10px #BBBFE3;
	display: flex;
	flex-direction: column;
}

#right-panel-top {
	padding: 10px 30px;
	flex-grow: 1;
	overflow-y: scroll;
}
#right-panel-bottom {
	padding: 5px 15px;
	align-self: stretch;
	border-top: 1px solid #BBBFE3;
}


label {
	font-weight: 500;
	color: #6E73A3;
	font-size:10pt;
}

.checkbox-label {
	font-weight: 400;
	color: black;
	float: left;
	font-size:12pt;
}

.checkbox-group {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

input[type=checkbox] {
	width: 20px;
	height: 20px;
	box-shadow: none;
	margin-left:-1px;
	margin-top:0px;
	margin-right: 10px;
	border: 1px solid #BBBFE3;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=checkbox]:checked {
	background-color: #4E22FF;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: center center;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
}

input[type=text], select {
	width: 100%;
	padding: 8px 10px;
	margin: 2px 0px 20px;
	display: inline-block;
	border: 1px solid #BBBFE3;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 12pt;
	font-family: "Inter";
	text-overflow:ellipsis
}

input[type=Submit] {
	width: 100%;
	background-color: #4E22FF;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 12pt;
	font-family: "Inter";
}

input[type=Submit]:hover {
	background-color: #0111A0;
}

input[type=Submit]#previous-btn {
	background-color: white;
	color: #4E22FF;
	border: 1px solid #4E22FF;
}

input[type=Submit]#previous-btn:hover {
	background-color: rgba(78, 34, 255, .1);
}

.grouped {
	padding: 15px;
	padding-bottom: 0px;
	background-color: #F4F3F9;
	border-radius: 10px;
	margin-top:-10px;
}

#grouped-helper-text {
	color: #6E73A3;
	font-size: 10pt;
	margin-bottom: 20px;
}


input {
	font-family: 'Inter', sans-serif;
	box-shadow: none;
}

.left-ui {
	border-radius: 10px;
}

.btn-group {
	margin-top: 20px;
	margin-left: 20px;
	display: inline-flex;
  	box-shadow: 0px 0px 10px #BBBFE3;
  	vertical-align: middle;
  	align-content: ;
  	flex-direction: row;
}

.btn-group > div {
	background-color: #F4F3F9;
	border: 1px solid #BBBFE3;
	color: #0111A0;
	padding: 6px 15px;
	cursor: pointer;
	font-weight: 700;
	font-size: 10pt;
	vertical-align: center;
  	display: inline-flex;
  	align-items: center;
}

.btn-group > div:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

#choose-files {
  	gap:15px;
}

#export:hover, #choose-files:hover {
	background-color: #010F89;
}

#export, #choose-files {
	background-color: #0111A0;
	color: #F4F3F9;
}

i.fa {
	font-size: large;
	margin-right: 10px;
}


.btn-group .row {
	gap: 5px;
}


.btn-group div:first-child {
  	border-radius: 5px 0px 0px 5px;
}

.btn-group div:last-child {
  	border-radius: 0px 5px 5px 0px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group div:hover {
/*  background-color: rgba(78, 34, 255, .05);*/
}

input#page_num {
	margin: 0px;
	padding: 5px;
	width: 45px;
	font-size: 10pt;
}

#selectedFile, #selectedTable{
	width: 250px;
    text-overflow: ellipsis;
}

#export {
	border-radius: 5px;
	right: 0px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown  .dropdown-content {
	display: none;
	position: absolute;
/*	box-shadow: 0px 0px 10px #BBBFE3;*/
	padding: 3px;
	z-index: 1;
	border-radius: 3px !important;
	top: 20px;
	transition: all 0.5s ease-out;
	background-color: white;
	border: 1px solid #BBBFE3;
	border-radius: 5px;

}

.dropdown > .dropdown-content > div {
  	background-color: white;
	border-radius: 5px;
	color: #0111A0;
	padding: 6px 15px;
	cursor: pointer;
	font-weight: 700;
	font-size: 10pt;
	flex: 1;
	vertical-align: center;
  	display: inline-flex;
  	align-items: center;
}

input[type=file] {
	margin-left: 5px;
	cursor: pointer;
}

.dropdown > .dropdown-content > div:hover {
  background-color: rgba(78, 34, 255, .1);
}


.dropdown:hover .dropdown-content {
	display: inline-grid;
	top:40px;
	left: 0px;
	transition: all 0.5s ease-out;
}

#left-empty-state {
	width: 50%;
	margin: 0 auto;
	margin-top: 20vh;
	color: #6E73A3;
}
